@CHARSET "UTF-8";

.paginating_control {
	padding: 10px 0 0 10px;
}
#video_list {
	width: 100%;
	border-spacing: 10px;
}
#video_list tr td {
	width: 145px;
	text-align: center;
	padding: 10px;
}
#video_list h3 a {
	color: rgb(20,20,20);
}
.none {
	border: 0px;
}